// Container Classes
.container {
    max-width: 100%;
    margin-inline: auto;
}

// Select design
select {
    --_select-padding: var(--space-2);
    padding: var(--_select-padding);
    background: var(--color-neutral-800);
    border-radius: var(--radius-lg);
    font-size: var(--font-size-sm);
    border-inline-end: var(--_select-padding) solid transparent;
}

// Simplebar design

.simplebar {
    .simplebar-scrollbar::before {
        background-color: var(--color-neutral-600);
        width: 5px;
        border-radius: 99px;
        opacity: 1;
    }

    .simplebar-track.simplebar-vertical {
        width: 10px;
        border-radius: 5px;
        margin-right: -10px;
    }
}

// Button design

.site-btn {
    --_block-sp: var(--space-2);
    --_inline-sp: var(--space-4);
    --_btn-radius: var(--radius-lg);
    --_btn-font-size: var(--font-size-sm);
    --_btn-color: var(--color-indigo-600);
    --_btn-hover-color: var(--color-indigo-700);
    padding: var(--_block-sp) var(--_inline-sp);
    border-radius: var(--_btn-radius);
    background: var(--_btn-color);
    cursor: pointer;
    font-size: var(--_btn-font-size);
    font-weight: 600;
    transition: var(--transition-fast);

    &:hover {
        background: var(--_btn-hover-color);
    }
}

// Modal design

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;

    .modal {
        transform: translateY(-20px);
        transition: all 0.3s ease;
    }

    &.active {
        opacity: 1;
        visibility: visible;

        .modal {
            transform: translateY(0);
        }
    }
}
