:root {
    --background-color: var(--color-neutral-950);
    --text-color: var(--color-neutral-50);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    cursor: default;
    font-size: 1.6rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg,
audio,
iframe {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
option,
textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    color: var(--text-color);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote,
q {
    quotes: none;

    &:before,
    &:after {
        content: "";
        content: none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    display: none;
}
