// packages styles

// utils styles
@import "variable";
@import "reset";
@import "mixins";
@import "globals";

// App Style

body {
    --_body-padding: var(--space-6);
    padding: var(--_body-padding);
}

.app-header {
    .header-inner {
        background: var(--color-neutral-900);
        border-radius: var(--radius-lg);
        @include flex(row, space-between, center, wrap, var(--space-4));
        padding-inline: var(--space-5);
        height: var(--header-height);

        .left-sec {
            @include flex(row, flex-start, center, nowrap, var(--space-4));
        }

        .right-sec {
            @include flex(row, flex-end, center, nowrap, var(--space-4));
        }

        .task-filter {
            @include inline-flex(row, center, center, wrap, var(--space-3));
        }

        .task-search {
            .task-search-input {
                background: var(--color-neutral-800);
                padding: var(--space-2) var(--space-3);
                font-size: var(--font-size-sm);
                border-radius: var(--radius-lg);
                width: 30rem;

                &::placeholder {
                    color: var(--color-neutral-500);
                }
            }
        }
    }
}

.app-content {
    --_app-content-top-sp: var(--space-6);
    padding-block-start: var(--_app-content-top-sp);
    height: calc(100% - var(--header-height));

    .container {
        height: 100%;
    }

    .task-status {
        --_row-gap: var(--space-6);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--_row-gap);
        height: 100%;
    }

    .task-row {
        --_row-label-height: 4rem;
        .row-label {
            height: var(--_row-label-height);
        }

        .task-lists {
            background: var(--color-neutral-900);
            padding: var(--space-4);
            border-radius: var(--radius-lg);
            height: calc(100% - var(--_row-label-height));

            .simplebar {
                height: 100%;
                width: 100%;

                .simplebar-placeholder {
                    display: none;
                }
            }
        }
    }
}
